* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e236c;
  font-family: "Russo One", sans-serif;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  max-width: 100%;
  width: 600px;
  height: auto;
  padding: 20px;
}

.chat-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 90%;
  background-color: #433d8b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#chat-box {
  display: flex;
  flex-direction: column;
  background-color: #1f1d4c;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  max-height: 90%;
  overflow-y: auto;
}

#chat-box .message {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  font-size: 0.9em;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

#chat-box .message.current-user {
  background-color: #433d8b;
  color: white;
  align-self: flex-end; 
}

#chat-box .message.recipient {
  background-color: #2a215e;
  color: white;
  align-self: flex-start; 
}

#chat-box .message .profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px; 
  object-fit: cover; 
}

#chat-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #2a215e;
  border-radius: 5px;
  background-color: #2a215e;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #1f1d4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #17153b;
}

.leave-room-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1f1d4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.leave-room-button:hover {
  background-color: #17153b;
}
