* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a215e;
  font-family: "Russo One", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  background-color: #17153b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  overflow-y: auto; 
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 195px;
}

.profile-picture img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Added shadow */
}

.profile-menu {
  list-style-type: none;
}

#username {
  font-size: 130%;
  text-shadow: 2px 2px 4px #000000; 
}

.profile-menu li {
  margin: 20px 0;
  font-size: 1.2rem;
}

.profile-menu a {
  color: white;
  text-decoration: none;
}

.profile-menu a:hover {
  text-decoration: underline;
}

.main-content {
  width: 70%;
  background-color: #2e236c;
  color: white;
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  max-width: 100%;
  width: 30vw;
  height: auto;
  padding: 20px 0px 20px 0px; /*top, right, bot, left*/
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 11px 0;
  margin-top: 11px;
  background-color: #433d8b;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.nav-menu li {
  cursor: pointer;
  font-size: 1.4rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 30px;
  padding: 20px;
}

.game-tile img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.game-tile:hover img {
  transform: scale(1.1); 
}

.game-tile {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#news {
  background-color: #2a215e;
  padding: 50px 20px;
  height: 800px;
  width: auto;
  border-radius: 25px;
}

#news h1 {
  color: #ffcd04;
  font-size: 2em;
}

.news-item {
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

.news-item p {
  padding: 10px;
}

.news-item h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.news-item a {
  color: #ffcd04; 
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline; 
}

.main-content {
  scrollbar-width: thin; 
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent; 
}

.wallet-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.wallet-section p {
  font-size: 1.2rem;
  color: white;
}

.wallet-button {
  background-color: #433d8b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.wallet-button:hover {
  background-color: #2e236c;
}

@media (max-width: 800px) {

  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
    margin-top: 30px;
  }

  .profile-picture img {
    width: 80px;
    height: 80px;
  }

  .header img {
    width: 50vw;
  }

  .nav-menu li {
    cursor: pointer;
    font-size: 10px;
  }

}
@media (max-width: 1070px) and (min-width: 801px) {
  .profile-picture img {
    width: 140px;
    height: 140px;
  }

  #username {
    font-size: 100%;
  }

  .profile-menu li {
    margin: 20px 0;
  }

  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  #right-sidebar {
    display: none;
  }
  .profile-picture img {
    width: 70px;
    height: 70px;
  }
  #username {
    font-size: 100%;
  }
  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0px;
  }
  .profile-menu li {
    margin: 10px 0px;
  }
  .nav-menu {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 0px 10px;
  }
}

#username,
.nav-menu li,
.nav-menu a,
.wallet-section p,
.news-item h3,
.news-item p,
.news-item a {
  text-shadow: 2px 2px 4px #000000;
}

 /*start of shop styling*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #2a215e;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  color: #2a215e;
}

.modal-content button {
  background-color: #433d8b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-content button:hover {
  background-color: #2e236c;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item-tile {
  background-color: #2a215e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.item-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.item-tile h3 {
  color: #968ef8;
  margin-bottom: 10px;
}

.item-tile p {
  color: white;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #433d8b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.buy-button:hover {
  background-color: #2e236c;
}

.shop-items h1 {
  text-align: center;
  color: #968ef8;
  margin-top: 20px;
}

.brawl-points {
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

/* Image Modal */
#imageModal .modal-content {
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  padding: 0;
  margin-left: 35%;
}

#imageModal img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
